{
    "Boards": ["po"],
    "PostgresConfig": {
        "ConnectionString": "postgres://eientei:eientei@db:5432/eientei?sslmode=disable"
    },
    "LnxConfig": {
        "Host": "http://lnx",
        "Port": 8000
    },
    "BatchSize": 200
}
