[Unit]
Description=Tewi Archive API
Documentation=https://github.com/oka-tan/eientei
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/john/eientei/tewi
ExecStart=/home/john/eientei/tewi/tewi /home/john/eientei/tewi/config.json
Restart=on-failure
RestartSec=30
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target

