{
	"ApiConfig": {
		"RequestTimeout": "10s",
		"Host": "https://a.4cdn.org"
	},
	"ImagesConfig": {
		"NapTime": "2s",
		"RequestTimeout": "10s",
		"Host": "https://is2.4chan.org",
		"AwsRegion": "us-east-2",
		"BucketName": "eientei"
	},
	"PostgresConfig": {
		"ConnectionString": "postgres://eientei:eientei@db:5432/eientei?sslmode=disable"
	},
	"Boards": [
		{
			"Name": "po",
			"NapTime": "5s",
			"LongNapTime": "60s"
		}
	]
}
