[Unit]
Description=Kaguya 4chan Archiver
Documentation=https://github.com/oka-tan/eientei
After=network.target

[Service]
Type=simple
ExecStart=/home/john/eientei/kaguya/kaguya /home/john/eientei/kaguya/config.json
Restart=on-failure
RestartSec=30
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target

