{{#threads}}
	<div class="mb-2 columns has-text-white-bis">
		<div class="column is-narrow">
			<a 
				href="{{conf.ImagesUrl}}/{{board}}/{{DerefTim}}{{DerefExt}}"
				target="_blank"
			>
				<img
					src="{{conf.ThumbnailsUrl}}/{{board}}/{{DerefTim}}s.jpg"
					alt="Image not available"
					style="height: {{DerefTnH}}px; width: {{DerefTnW}}px;"
				/>
			</a>
			<p class="has-text-centered">
				<small>{{DerefW}}x{{DerefH}}</small>
			</p>
			<p class="has-text-centered">
				<small>{{DerefFilenameShort}}{{DerefExt}}</small>
			</p>
		</div>
		<div class="column">
			<p>
				{{^SubIsNil}}
					<span style="color: BlueViolet">{{{DerefSub}}}</span>
				{{/SubIsNil}}
				<strong class="has-text-white">{{FormatName}}</strong>
				<span>
					{{FormatTime}}
					<a href="/{{board}}/thread/{{No}}">No. {{No}}</a>
				</span>
			</p>
			{{^ComIsNil}}
				<p>{{{DerefCom}}}</p>
			{{/ComIsNil}}
		</div>
	</div>
{{/threads}}
<nav class="pagination" role="navigation" aria-label="pagination">
	{{#rkeyset}}
		<a
			class="pagination-previous has-text-white-bis"
			style="background-color: DarkViolet; border: 0px;"
			href="/{{board}}?rkeyset={{rkeyset}}"
		>
			Previous page
		</a>
	{{/rkeyset}}
	{{^rkeyset}}
		<button class="pagination-previous" disabled>
			Previous page
		</button>
	{{/rkeyset}}

	{{#keyset}}
		<a
			class="pagination-next has-text-white-bis"
			style="background-color: DarkViolet; border: 0px;"
			href="/{{board}}?keyset={{keyset}}"
		>
			Next page
		</a>
	{{/keyset}}
	{{^keyset}}
		<button class="pagination-next" disabled>
			Next page
		</button>
	{{/keyset}}
</nav>
