{{#op}}
	<div class="mb-2 columns has-text-white-bis" id="p{{No}}">
		<div class="column is-narrow">
			<a 
				href="{{conf.ImagesUrl}}/{{board}}/{{DerefTim}}{{DerefExt}}"
				target="_blank"
			>
				<img
					src="{{conf.ThumbnailsUrl}}/{{board}}/{{DerefTim}}s.jpg"
					alt="Image not available"
					style="height: {{DerefTnH}}px; width: {{DerefTnW}}px;"
				/>
			</a>
			<p class="has-text-centered">
				<small>{{DerefW}}x{{DerefH}}</small>
			</p>
			<p class="has-text-centered">
				<small>{{DerefFilenameShort}}{{DerefExt}}</small>
			</p>
		</div>
		<div class="column">
			<p>
				{{^SubIsNil}}
					<span style="color: BlueViolet">{{{DerefSub}}}</span>
				{{/SubIsNil}}
				<strong class="has-text-white">{{FormatName}}</strong>
				{{FormatTime}} <a href="#p{{No}}">No. {{No}}</a>
			</p>
			{{^ComIsNil}}
				<p>{{{DerefCom}}}</p>
			{{/ComIsNil}}
		</div>
	</div>
{{/op}}
{{#thread}}
	<div class="mb-2 columns has-text-white-bis" id="p{{No}}">
		{{^TimIsNil}}
			<div class="column is-narrow">
				<a 
					href="{{conf.ImagesUrl}}/{{board}}/{{DerefTim}}{{DerefExt}}"
					target="_blank"
				>
					<img
						src="{{conf.ThumbnailsUrl}}/{{board}}/{{DerefTim}}s.jpg"
						alt="Image not available"
						style="height: {{DerefTnH}}px; width: {{DerefTnW}}px;"
					/>
				</a>
				<p class="has-text-centered">
					<small>{{DerefW}}x{{DerefH}}</small>
				</p>
				<p class="has-text-centered">
					<small>{{DerefFilenameShort}}{{DerefExt}}</small>
				</p>
			</div>
		{{/TimIsNil}}
		<div class="column">
			<p>
				<strong class="has-text-white">{{FormatName}}</strong>
				<span>
					{{FormatTime}} <a href="#p{{No}}">No. {{No}}</a>
				</span>
			</p>
			{{^ComIsNil}}
				<p>{{{DerefCom}}}</p>
			{{/ComIsNil}}
		</div>
	</div>
{{/thread}}
